

.order-button{
        background-color: rgb(255, 255, 255);
        padding: 23px 34px;
        border-radius: 45px;
        color: $green;
        font-size: 19px;
        text-transform: uppercase;
        font-family: 'Alegreya Sans ExtraBold', Arial, sans-serif;
        
}


