

.order-button{
        background-color: rgb(255, 255, 255);
        padding: 23px 34px;
        border-radius: 45px;
        color: #0f5a47;
        font-size: 19px;
        text-transform: uppercase;
        margin-bottom: 70px;
        font-family: 'Alegreya Sans ExtraBold', Arial, sans-serif;
        
}


