.content{
    margin-bottom: 50px;
    display: block;
}

.content--left{
    width: 470px;
}




.page__elips--active:before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #fff;
   
}

.page {
    flex: 1; 
    position: relative;
  }
  
  .page--color-white{
    color:#eaf7fa;
  }
  
  .container {
    width: 940px;
    margin: 0 auto;
  }
  
  .content__container--left{
    display: flex;
    justify-content: space-between;
  }
  
  .content__container{
    display: flex;
    justify-content: center;
  }