html{
  font-size: rem(16px);

  @include tablets {
    font-size: 15px;
  }
  
  @include phones {
    font-size: 14px;
  }

}

html, body {
  height: 100%;
}

body {
    margin: rem(0px);
    font-family: 'Alegreya Sans Regular', Arial, sans-serif;
    font-size: rem(18px);
    color: $black;
  }

*{
  box-sizing: border-box;
}
  
 h1, h2, h3, h4, h5{
   margin: 0;
 }

ul li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

a {
  text-decoration: none;
  color: inherit;
}
body.body-menu--locked{
  overflow: hidden;
}

.section{
  height: 100vh;
  min-height: rem(650px);
  display: flex;
  flex-direction: column;
  // overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  
  @include tablets {
    min-height: initial; //height: 100vh;//

  }  
}




.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: rem(940px);
  width: 85%; //для адаптивной верстки//
  height: 100%;
  margin: 0 auto;
  z-index: 1; //чтобы отображались наведения ладошкой на все ссылки/кнопки/ из-за большого бэкграунда/

  @include tablets {
    max-width: rem(730px);
    width: 80%;


  }  

  @include phones {
    max-width: rem(460px);
    width: 95%;
  }
}


.wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    // min-width: rem(1100px);
    min-height: 100%;
  
}


ul, p, h5 {
    margin: 0;
    padding: 0;
  }
  
  
img{
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
  
