
.comments{
  position: relative;
  background:url(../img/icon/comment_sec/strawberry.png) right 5% no-repeat;
}

.comments:after{
  content: '';
  overflow: hidden;
  width: rem(150px) ;
  height: rem(210px) ;
  position: absolute;
  background:  
  url(../img/icon/comment_sec/sev_berries.png) no-repeat;
  transform: translateY(50%);
  bottom: 0;

}
 
