
.gamburger__menu{
    @include tablets {
   
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    top: 5%;
    right: 5%;
    height: rem(25px);
    align-items: center;
    cursor: pointer;
    z-index: 3;
    }
      
      @include phones {
        z-index: 3;
      }

}



.gamburger__menu-point{
    width: rem(25px);
    height: rem(6px);
    background-color: $white;
    display: block;
    border-radius: rem(3px);  

}

.gamburger__menu-page{
  // position: fixed;
  top: 0;
  left: 0;
  // display: none;
  height: 10vh;
  width: 100%;
  background-color: $dark-grey;
  opacity: 0.98;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: rem(46px);
  color: $white;
  text-align: center;
  z-index: 3;
}


.nav__gamburger
.nav__item_gamburger{
  margin-bottom: rem(40px) ;

}

.nav__item_gamburger:last-child{
  margin-bottom: 0 ;

}