
.info__title{
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Alegreya Sans Bold', Arial, sans-serif;
}

.info__text{
    font-size: 21px;
    margin-bottom: 30px;
}

