.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }
}

.nav__list{
    display: flex;
    margin-right: rem(45px);
    justify-content: space-between;

  }
 
.nav__item{
    padding-right: rem(30px);
}
.nav__item:last-child{
    padding-right: rem(0px);
}

