.order{
    background-image: url(../../img/icon/order_sec/pattern_order.png);
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;

}

.order:after{
    content: '';
    overflow: hidden;
    width: rem(50px);
    height: rem(50px);
    position: absolute;
    background: url(../img/icon/order_sec/berry_order.png) no-repeat;
    bottom: 17%;
    left: 5%;

    @include tablets {
        display: none;
    }
    @include phones {
        display: none;
    }
}

.order:before{
    content: '';
    overflow: hidden;
    width: rem(135px);
    height: rem(190px);
    position: absolute;
    background: url(../img/icon/order_sec/leaf_order.png) no-repeat;
    bottom: 17%;
    right: 5%;

    @include tablets {
        display: none;
    }
    @include phones {
        display: none;
    }

}


.form{
    color: $green;
}

.form__element{
    width: 100%;
    display: flex;
    margin-top: rem(30px);

    @include tablets {
        flex-direction: column;
    }
}

.form__col{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: rem(20px);

    @include tablets {
        margin-right: 0;
        
    }
}

.form__col:last-child{
    margin-right: 0;
}

.form__row{
    display: flex;
    margin-bottom: rem(16px);

    @include tablets {
    justify-content: center;
    
    }
}

.form__row-last{
    margin-top: rem(25px);
} 

.form__block{
    flex: 1;
    margin-right: rem(20px);
}

.form__block:last-child{
    margin-right: 0;
}


.form__block__title{
    margin-bottom: rem(7px);
}


.form__input {
    width: 100%;
    background-color: #ffffff;
    padding: rem(20px) rem(10px);
    border: 1px solid transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: rem(18px);
    color: $black;
    outline: none;
}

.form__input--textarea{
    height: rem(180px);
    resize: none; //вширину нельзя было раздвинуть//
}
.form__input:focus{
    border: 1px solid #dde3bd;
}

.form__question{
    display: flex;
}

.option{
    display: flex;
    margin-right: rem(25px);
    align-items: center;
}

.option__radio {
    display: none;
}

.option__radio-fake {
    display: inline-block;
    width: rem(25px);
    height: rem(25px);
    border: 1px solid transparent;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    margin-right: rem(12px);
}

.option__radio-fake::after{
    content: '';
    display: inline-block;
    position: absolute;
    height: 0;
    width: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: $green;
  
}

.option__radio:checked + .option__radio-fake:after {
    height: rem(15px);
    width: rem(15px);
}

.option__checkbox{
    display: none;
}

.option__checkbox-fake {
    display: inline-block;
    width: rem(25px);
    height: rem(25px);
    border: 1px solid transparent;
    background-color: #ffffff;
    position: relative;
    margin-right: rem(12px);
    cursor: pointer;

}

.option__checkbox-fake::after{
    content: " ";
    display: inline-block;
    position: relative;
    width: rem(25px);
    height: rem(25px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(..//img/icon/order_sec/check.png) center center no-repeat;
}       


.option__checkbox:checked + .option__checkbox-fake::after{
    content: "";
    position: absolute;
}


// .option__checkbox:checked + .option__checkbox-fake::after{
//     content: "";
//     position: absolute;
// }