.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
   
}

.content--left{
    display: flex;
    flex-direction: column;
    width: rem(470px);
    align-items: flex-start;
   

    @include tablets {
      align-items: center;
      width: 100%;

    }

    @include phones {
      align-items: center;
      width: 100%;
    }
}

.content--right{
    max-width: rem(490px);
    max-height: rem(510px);

    @include tablets {
    max-width: rem(380px);
    max-height: rem(400px);
    }

    @include phones {
    max-width: rem(300px);
    max-height: rem(320px);
    }

}
  
  .page--color-white{
    color: $white;
  }

  .page{
    position: relative;
    background-color: #61c4d9;
    background-image: url(../img/icon/chocco_sect/pattern.png);
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: cover;
    z-index: 1;


    @include tablets {
       background-position: right top;
       background-size: auto;
    }

    @include phones {
       background-position: right top;
       background-size: auto;
    }
  }
  
  
.page:after{
    content: '';
    overflow: hidden;
    max-width: rem(1100px);
    width: rem(440px);
    height: rem(350px);
    position: absolute;
    background:  
    url(../img/icon/chocco_sect/gr_berries.png) no-repeat 95% bottom ,
    url(../img/icon/chocco_sect/leaf3.png) no-repeat  4% bottom;
    bottom: -11%;
    right: 2%;
    z-index: 1;
    
    @include tablets {
      max-width: rem(430px);
      bottom: 50%;
      right: 20%;
      z-index: 1;
    }
    @include phones {
      max-width: rem(330px);
      bottom: 55%;
      right: 0;
      z-index: 1;
    }

}

  .page__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


.page__container--left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin: 0 auto;

    @include tablets {
      flex-direction: column-reverse;
      align-items: center;
      width: 100%;
    
    }

    @include phones {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    }
}
  

  .page__container--left .content{
    display: flex;
    justify-content: center;
  }
  
  .content__container{
    display: flex;
    justify-content: center;
  }

  .info{
    @include tablets {
      text-align: center;

    }

    @include phones {
      text-align: center;
    }
  }


.page__container .content{
    flex-direction: row;  
    align-items: center;
    justify-content: center;

    @include tablets {
      flex-direction: column-reverse;

    }

    @include phones {
      flex-direction: column-reverse;
    }


}