.socials__list{
    display: flex;
}

.socials__item{
    margin-right: 20px;
}

.socials__item:last-child{
    margin-right: 0;
}

.socials__link{
    width: 22px;
    height: 22px;
    display: block;
}

@each $socials__link in (vk, fb, inst, tw){
    .socials__link_#{$socials__link}{
        background: url('../img/icon/contacts_sec/#{$socials__link}.svg') center center no-repeat;

    }
}

.socials__item--active .socials__link_fb{
    background: url(../img/icon/contacts_sec/fb_hover.png) center center no-repeat;
}


